
 /* config Geral */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* variáveis de cores e arredondamento de borda */
:root{
    /* cores */
    --dark-gray:#1F1F1F;
    --dark-gray-2:#474747;
    --dark-gray-search:#4747470a;
    --dark-gray-3:#666666;
    --light-gray:#8F8F8F;
    --light-gray-2:#cccccc;
    --light-gray-3:#F5F5F5;
    --primary:#C92071;
    --secondary:#B5B6F2;
    --error:#B5B6F2;
    --success:#52CA76;
    --warning:#F6AA1C;
    --primary-gradient:linear-gradient( to right,#C92071,#EDABCA);
    --secondary-gradient:linear-gradient( to bottom,#B5B6F2,#EFEFFF);
    --white:#FFFFFF;
    --Tertiary:#991956;

    /* borda */
    --borda-redonda:8px
}
 
 
 
*{
        margin: 0;
        padding: 0;
}
       
body,html {
        font-family: "Inter", sans-serif; 
        background-color: #f5f5f5;
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
       
}
    
    /* Estilo do cabeçalho */
.cabecalho {
        background-color: white;
        padding: 10px 20px;
        text-align: left;
}
    
.logo {
        height: 40px;
}
    
    /* Estilo da seção de login */
main {
        height: 100%;
        width: 100%;
        background: var(--secondary-gradient); /* Aplica um gradiente de fundo */
        display: flex;
        align-items: center;
        justify-content: center;
        
 }
.secao-login{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 100px;
        
}
    
.caixa-login {
        width: 500px;
        background-color: #FFFFFF;
        padding: 30px;
}
.caixa-login h1{
        margin-bottom: 20px;
        font-size: 1.7rem;
}
.caixa-login p{
        margin-bottom: 20px;
        color: var(--dark-gray-2);
}
.caixa-login a{
        color: var(--dark-gray-2);
}

.cont-login-cad{
        display: flex;
        flex-direction: column;
        margin:  20px 0px;
}
.cont-login-cad label{
        font-size: 0.8rem;
        font-weight: bold;
        margin-bottom: 8px;
}
.cont-login-cad input{
        background-color: var(--light-gray-3) ;
        border: none;
        font-size: 1rem;
        padding: 25px;
        border-radius: var(--borda-redonda);
        margin-bottom: 20px;
}
.crie-entre-conta{
        border: none;
        background-color: var(--primary);
        color: #FFFFFF;
        font-size: 1rem;
        font-weight: 600;
        padding: 15px;
        text-align: center ;
        border-radius: var(--borda-redonda);    
        cursor: pointer;
}
.login-social{
        display: flex;
        align-items: center;
        justify-content: center;
}
.login-social button{
        background-color: #ffffff00;
        border: none;
        margin-top: -12px;
        margin-left: 10px;
        cursor: pointer;
        
        
}
/* css especifico da parte de login */
.cont-entra-esqueci{
    display: flex;   
    flex-direction: column;
    gap: 25px;
}
#login-user{
     max-height: 440px;   
}

/* css especifico para parete de cadastro */
#cadstro-user{
        max-height: 270px;
}


    

    

    

    

